/* Set the defaults */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.125em;
}
/* First header styling */

.header-1 {
  background-color: rgb(17, 17, 17);
  max-height: 2em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left-section li,
.right-section li {
  display: inline;
  padding-right: 5px;
}

.left-section li a,
.right-section li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.left-section li a:hover,
.right-section li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul.left-section.items-left {
  margin-left: -1.55%;
}

ul.right-section.items-right {
  margin-right: 1.55%;
}

/* Second header styling */
.nav-bar {
  max-height: 4em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: #808080;
}

.nav-bar-ul li,
.search-bar-ul li {
  display: inline-block;
  padding-right: 5px;

}
.nav-bar {
  position: sticky;
}

.nav-bar-ul {
  padding-left: 1.55%;
}
.nav-bar-ul li {
  padding-top: 2.75%;
}

.search-bar-ul  {
  display: inline-block;
  border-left: 1px solid #f1eeee;;
  height: 4em;
  padding-right: 2%;
  padding-left: 2%;
  width: 33%;
}


.join-btn {
  text-transform: uppercase;
  background-color: #0cc;
  color: #fff;
  border: none;
  padding: 12% 1.5em;
  border-radius: 3px;
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #90c;
  color: #fff;
}

.search-bar-ul img{
  display: inline-block;
  width: 125px;
  vertical-align: middle;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: #808080;
}

.nav-bar-ul li a:hover {
  text-decoration: none;
  color: #000000
}

.search-bar-txt {
  font-size: 0.75em;
  text-align: center;
  color: #555;
  font-weight: 500;
  font-family: Shentox, sans-serif;
  margin-right: 0.25em;
}

.search-bar-ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #808080;
}


.search-bar-ul li a:hover {
  text-decoration: none;
  color: #252121;
}

.days {
  color: #f42;
  cursor: pointer;
  font-size: 100%;
}

.search-icon {
  margin-right: 3.5%;
}

/* third section header styling */
.fixed-header {
  background-color: #ffff00;
  max-height: 2em;
  padding: 0.5% 1.55% ;
  font-size: 0.8125em;
  font-weight: 500;
  position: sticky;
  cursor: pointer;
}