/* Set the defaults */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.125em;
}
/* First header styling */

.header-1 {
  background-color: rgb(17, 17, 17);
  max-height: 2em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left-section li,
.right-section li {
  display: inline;
  padding-right: 5px;
}

.left-section li a,
.right-section li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.left-section li a:hover,
.right-section li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul.left-section.items-left {
  margin-left: -1.55%;
}

ul.right-section.items-right {
  margin-right: 1.55%;
}

/* Second header styling */
.nav-bar {
  max-height: 4em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: #808080;
}

.nav-bar-ul li,
.search-bar-ul li {
  display: inline-block;
  padding-right: 0.6250em;

}
.nav-bar {
  position: sticky;
}

.nav-bar-ul {
  padding-left: 1.55%;
}
.nav-bar-ul li {
  padding-top: 2.75%;
}

.search-bar-ul  {
  display: inline-block;
  border-left: 1px solid #f1eeee;;
  height: 4em;
  padding-left: 2%;
  width: 33%;
}


.join-btn {
  text-transform: uppercase;
  background-color: #0cc;
  color: #fff;
  border: none;
  padding: 12% 0.75em;
  border-radius: 3px;
  font-size: 0.8125em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #90c;
  color: #fff;
}

.search-bar-ul li img{
  display: inline-block;
  width: 125px;
  vertical-align: middle;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: #808080;
}

.nav-bar-ul li a:hover {
  text-decoration: none;
  color: #000000
}

.search-bar-txt {
  font-size: 85%;
  position: relative;
  top: 0.125em;
  text-align: center;
  color: #555;
  font-weight: 500;
  font-family: Shentox, sans-serif;
  margin-right: 0.25em;
}

.search-bar-ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #808080;
}


.search-bar-ul li a:hover {
  text-decoration: none;
  color: #252121;
}

.days {
  color: #f42;
  cursor: pointer;
  font-size: 92%;
  line-height: 1.7em;
  position: relative;
  top: 0.125em;
}

.search-icon {
  margin-right: 3.5%;
}

/* third section header styling */
.fixed-header {
  background-color: #ffff00;
  max-height: 2em;
  padding: 0.5% 1.55% ;
  font-size: 0.8125em;
  font-weight: 500;
  position: sticky;
  cursor: pointer;
}

/* Styling for the first section after the header */
.first-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  padding: 0.25% 0.5%;
}

.large-left {
  background: linear-gradient(180deg, rgba(236, 24, 24, 0.73), rgba(0, 0, 0, 0.8)),
  url(./images/header-image-airpods-pro-weasel-796x417.png) 50% 100% no-repeat;
  background-color: #000;
  grid-column: 1/3;
  grid-row: 1/3;
  background-size: cover;
  z-index: 1;
}

.tnw-logo {
  max-width: 50%;
  margin-left: 2.5%;
  margin-top: 3%;
  line-height: 1;
}


.gear {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .04em;
  font: inherit;
  margin-left: 2%;
  padding-top: 100px;
}

.gear a, .first-section-txt a {
  text-decoration: none;
  color: #fff;
}

.first-section-txt {
  font-size: 360%;
  letter-spacing: -.055em;
  text-align: justify;
  line-height: 57px;
  padding-left: 2%;
  margin-top: -20px;
}

.inline-list {
  margin-top: -25px;
  display: flex;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 2%;
}
.inline-list li {
  flex-flow: row wrap;
  padding-right: 1%;
}
.inline-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
} 
.inline-list li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
} 

#date {
  color: #fff;
  float: right;
  padding-right: 2%;
}

.small-right-1 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: linear-gradient(180deg, rgba(153, 149, 149, 0.53), rgba(0, 0, 0, 0.9)), url(./images/TNW-Conference-PanelImg.jpg) 50% 100% no-repeat;
  background-size: cover;
  z-index: 1;
  display: grid;
  margin-left: 2%;
}

.small-right-1 h2 a {
  text-decoration: none;
  color: #fff;

}

.small-right-1 h2 {
  
 align-self: center;
 justify-self: center;
 margin-bottom: -80px;
 line-height: 32px;
 font-size: 170%;
 margin-left: -8%;
}
 
.small-right-2 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: linear-gradient(180deg, rgba(153, 149, 149, 0.53), rgba(0, 0, 0, 0.9)), url(./images/054_renault_morphoz-1-796x447.jpg) 50% 100% no-repeat;
  background-size: cover;
  z-index: 1;
  margin-left: 2%;
  margin-top: 2%;
}

.small-right-2 h5 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .04em;
  font: inherit;
  font-weight: 800;
  margin-left: 3%;
  padding-top: 50px;
  padding-bottom: 2px;
}

.small-right-2 h5 a, .small-right-2 h2 a {
  text-decoration: none;
  color: #fff;
}

.small-right-2 h2 {
  
  align-self: center;
  justify-self: center;
  margin-top: -30px;
  line-height: 32px;
  padding-left: 3%;
  padding-top: 3.5px;
  font-size: 170%;
 }
 .small-right-list  {
  margin-top: -10px;
  display: flex;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 3%;
}
.small-right-list  li {
  flex-flow: row wrap;
  padding-right: 1.5%;
}
.small-right-list  li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
} 
.small-right-list  li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
} 

.dos-and-donts {
  display: grid;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

/* Styling for the latest news section */
.pics-latest-news {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  color: grey;
  padding: 0.25% 0.5%;
}

.latest-news-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: aqua;
  background:  url(./images/growth-tips.png) 50% 100% no-repeat;
}


.latest-news-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: red;
}

.latest-news-3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: purple;
}

.latest-news-4 {
  grid-column: 4/5;
  grid-row: 1/2;
  background-color: gray;
}

.latest-news-5 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: gray;
}


.latest-news-6 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: purple;
}


.latest-news-7 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: aqua;
}

.latest-news-8 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-color: red;
}

