/* Set the defaults */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.125em;
}
/* First header styling */

.header-1 {
  background-color: rgb(17, 17, 17);
  max-height: 2em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left-section li,
.right-section li {
  display: inline;
  padding-right: 5px;
}

.left-section li a,
.right-section li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.left-section li a:hover,
.right-section li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul.left-section.items-left {
  margin-left: -1.55%;
}

ul.right-section.items-right {
  margin-right: 1.55%;
}

/* Second header styling */
.nav-bar {
  max-height: 4em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: #808080;
}

.nav-bar-ul li,
.search-bar-ul li {
  display: inline-block;
  padding-right: 0.6250em;

}
.nav-bar {
  position: sticky;
}

.nav-bar-ul {
  padding-left: 1.55%;
}
.nav-bar-ul li {
  padding-top: 2.75%;
}

.search-bar-ul  {
  display: inline-block;
  border-left: 1px solid #f1eeee;;
  height: 4em;
  padding-left: 2%;
  width: 33%;
}

.join-btn {
  text-transform: uppercase;
  background-color: #0cc;
  color: #fff;
  border: none;
  padding: 12% 0.75em;
  border-radius: 3px;
  font-size: 0.8125em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #90c;
  color: #fff;
}

.search-bar-ul li img{
  display: inline-block;
  width: 125px;
  vertical-align: middle;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: #808080;
}

.nav-bar-ul li a:hover {
  text-decoration: none;
  color: #000000
}

.search-bar-txt {
  font-size: 85%;
  position: relative;
  top: 0.125em;
  text-align: center;
  color: rgb(85, 85, 85);
  font-weight: 500;
  font-family: Shentox, sans-serif;
  margin-right: 0.25em;
}

.search-bar-ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #808080;
}


.search-bar-ul li a:hover {
  text-decoration: none;
  color: #252121;
}

.days {
  color: rgb(255, 68, 34);
  cursor: pointer;
  font-size: 92%;
  line-height: 1.7em;
  position: relative;
  top: 0.125em;
}

.search-icon {
  margin-right: 3.5%;
}

/* third section header styling */
.fixed-header {
  background-color: #ffff00;
  max-height: 2em;
  padding: 0.5% 1.55% ;
  font-size: 0.8125em;
  font-weight: 500;
  position: sticky;
  cursor: pointer;
}

/* Styling for the first section after the header */
.first-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  padding: 0.25% 0.5%;
}
/* rgba(236, 24, 24, 0.73) */
.large-left {
  background: linear-gradient(180deg, rgba(255, 68, 34, 0.7) , rgba(0, 0, 0, 0.96)),
  url(./images/header-image-airpods-pro-weasel-796x417.png) 50% 100% no-repeat;
  background-color: #000;
  grid-column: 1/3;
  grid-row: 1/3;
  background-size: cover;
  z-index: 1;
}

.tnw-logo {
  max-width: 50%;
  margin-left: 2.5%;
  margin-top: 3%;
  line-height: 1;
}


.gear {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .04em;
  font: inherit;
  margin-left: 2%;
  padding-top: 100px;
}

.gear a, .first-section-txt a {
  text-decoration: none;
  color: #fff;
}

.first-section-txt {
  font-size: 360%;
  letter-spacing: -.055em;
  text-align: justify;
  line-height: 57px;
  padding-left: 2%;
  margin-top: -20px;
}

.inline-list {
  margin-top: -25px;
  display: flex;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 2%;
}
.inline-list li {
  flex-flow: row wrap;
  padding-right: 1%;
}
.inline-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
} 
.inline-list li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
} 

#date {
  color: #fff;
  float: right;
  padding-right: 2%;
}

.small-right-1 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: linear-gradient(180deg, rgba(153, 149, 149, 0.53), rgba(0, 0, 0, 0.9)), url(./images/TNW-Conference-PanelImg.jpg) 50% 100% no-repeat;
  background-size: cover;
  z-index: 1;
  display: grid;
  margin-left: 2%;
}

.small-right-1 h2 a {
  text-decoration: none;
  color: #fff;

}

.small-right-1 h2 {
  
 align-self: center;
 justify-self: center;
 margin-bottom: -80px;
 line-height: 32px;
 font-size: 170%;
 margin-left: -8%;
}
 
.small-right-2 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: linear-gradient(180deg, rgba(153, 149, 149, 0.53), rgba(0, 0, 0, 0.9)), url(./images/054_renault_morphoz-1-796x447.jpg) 50% 100% no-repeat;
  background-size: cover;
  z-index: 1;
  margin-left: 2%;
  margin-top: 2%;
}

.small-right-2 h5 {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: .04em;
  font: inherit;
  font-weight: 800;
  margin-left: 3%;
  padding-top: 50px;
  padding-bottom: 2px;
}

.small-right-2 h5 a, .small-right-2 h2 a {
  text-decoration: none;
  color: #fff;
}

.small-right-2 h2 {
  
  align-self: center;
  justify-self: center;
  margin-top: -30px;
  line-height: 32px;
  padding-left: 3%;
  padding-top: 3.5px;
  font-size: 170%;
 }
 .small-right-list  {
  margin-top: -10px;
  display: flex;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 3%;
}
.small-right-list  li {
  flex-flow: row wrap;
  padding-right: 1.5%;
}
.small-right-list  li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
} 
.small-right-list  li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
} 

/* Styling for the latest news section */
.latest-news {
  padding: 5% 5%;
}

.latest-news-title {
  font-size: 180%;
}

.latest-news-title a {
  text-decoration: none;
  color: rgb(255, 68, 34); 
}

.latest-news-title a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0); 
}

.pics-latest-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  padding-top: 1.5%;
}

.latest-news-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background:  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/quantum_generic-516x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
  
}


.latest-news-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background:  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/google-796x417-515x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background:  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/05/Messenger-Flowers-516x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-4 {
  grid-column: 4/5;
  grid-row: 1/2;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-design2-516x270.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-5 {
  grid-column: 1/2;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/WhatsApp-Dark-Mode-515x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}


.latest-news-6 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/Social-media-platforms-hed-Credit-Rahul-Chakraborty--513x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}


.latest-news-7 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/person-731165_1920-480x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-8 {
  grid-column: 4/5;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-5-516x270.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-h4 {
  margin-top: 70%;
}

.latest-news-h4 a {
  text-decoration: none;
  color: #000000;
}

.latest-news-h4 a:hover {
  text-decoration: none;
  color: rgb(255, 68, 34);
}

.latest-news-ul {
  list-style: none;
  display: flex;
  color: rgb(170, 170, 170);
  padding-left: 0;
  margin-top: -5.5%;
}

.latest-news-ul li {
  padding-right: 4%;
  font-size: 0.8125em;
}
.latest-news-ul li a {
  text-decoration: none;
  color: rgb(170, 170, 170);
} 
.latest-news-ul li a:hover {
  text-decoration: none;
  color: rgb(7, 7, 7);
} 


/* Styling for the latest funds rounds section */
.latest-funds {
  padding: 5% 5%;
}
.latest-funds-title {
  display: flex;
  justify-content: space-between;
}

.latest-funds-left {
  font-size: 180%;
}

.latest-funds-right{
  width: 35%;
  list-style: none;
  display: inline-block;
  padding-top: 1.5%;
}

.latest-funds-right li {
  display: inline-block;
  padding-right: 2%;
}
.latest-funds-right li:not(:last-child)  {
  border-right: 1px solid rgb(255, 68, 34);
}

.latest-funds-left a, .latest-funds-right a {
  text-decoration: none;
  color: rgb(255, 68, 34); 
}

.latest-funds-left a:hover, .latest-funds-right a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0); 
}

.pics-latest-funds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 250px;
  padding-top: 1.5%;
}

.latest-funds-1 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 8%;
  
}

.latest-funds-2 {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-right: 8%;
  
}

.latest-funds-3 {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-right: 8%;
  
}

.latest-funds-4 {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
  margin-right: 8%;
  
}

.latest-funds-1 img, .latest-funds-2 img, .latest-funds-3 img, .latest-funds-4 img {
  position: absolute;
  top: 7%;
  left: 1%;
  z-index: 1;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 11px;
}

.latest-funds-1 .first-div, .latest-funds-2 .first-div-1, .latest-funds-3 .first-div-2, .latest-funds-4 .first-div-3 {
  background-color: #f42;
  font-size: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.first-div a, .first-div-1 a, .first-div-2 a, .first-div-3 a  {
  text-decoration: none;
  color: #fff;
}

.latest-funds-1 .second-div, .latest-funds-2 .second-div-1,  .latest-funds-3 .second-div-2, .latest-funds-4 .second-div-3 {
  margin-top: -10%;
  background: rgba(255,68,34,.08);
  color: #000000;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.second-div a, .second-div-1 a, .second-div-2 a, .second-div-3 a  {
  text-decoration: none;
  color: #000000;
}
.third-div, .third-div-1, .third-div-2, .third-div-3 {
  margin-top: -8%;
  text-transform: uppercase;
  color: rgb(170, 170, 170);
  text-align: center;
}

.third-div a, .third-div-1 a, .third-div-2 a, .third-div-3 a {
  color: #555;
  font-size: 90%;
}

.social-media {
  padding-top: 8%;
  background: rgba(255,68,34,0.03);
}

.icon-social {
  margin-left: 5%;
}

.span-social {
  margin-left: 3%;
  font-size: 13px;
  color: #555;
  text-decoration: none;
}

.span-social:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.latest-funds-hr {
  margin-top: 8%;
  color: rgba(255,68,34,.03);
  border: 1px solid rgba(255,68,34,0.09);;
}

.social-media-last {
  font-size: 12px;
  padding-top: 5%;
  padding-bottom: 20%;
  padding-left: 5%;
  text-align: justify;
  font-weight: 400;
}

.social-media-last a {
  text-decoration: none;
  color: #555;
}
.social-media-last-span {
  color: rgb(170, 170, 170);
}
