/* Set the defaults */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.125em;
  height: 100%;
  padding: 0;
  width: 100%;
}

/* First header styling */

.header-1 {
  background-color: rgb(17, 17, 17);
  max-height: 2em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left-section li,
.right-section li {
  display: inline;
  padding-right: 0.313em;
}

.gear a,
.first-section-txt a {
  text-decoration: none;
  color: #fff;
}

.latest-news-title a,
.latest-deals-title a {
  text-decoration: none;
  color: rgb(255, 68, 34);
}

.latest-funds-left a,
.latest-funds-right a {
  text-decoration: none;
  color: rgb(255, 68, 34);
}

.first-div a,
.first-div-1 a,
.first-div-2 a,
.first-div-3 a {
  text-decoration: none;
  color: #fff;
}

.second-div a,
.second-div-1 a,
.second-div-2 a,
.second-div-3 a {
  text-decoration: none;
  color: #000;
}

.third-div a,
.third-div-1 a,
.third-div-2 a,
.third-div-3 a {
  color: #555;
  font-size: 90%;
}

.latest-funds-last a {
  text-decoration: none;
  color: #555;
}

.apps-news-header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.latest-h4 a {
  text-decoration: none;
  color: rgb(255, 68, 34);
}

.social-links a {
  border: 1px solid #4b4a4a;
  border-radius: 3.125em;
  text-decoration: none;
  background-color: #4b4a4a;
  font-size: 1em;
  list-style: none;
  color: white;
  padding: 0.625em;
}

.latest-news-h4 a,
.latest-deals-h4 a {
  text-decoration: none;
  color: #000;
}

.apps-latest-title a {
  text-decoration: none;
  color: rgb(255, 68, 34);
}

.left-section li a,
.right-section li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.nav-bar-ul li a {
  text-decoration: none;
  color: #808080;
}

.search-bar-ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #808080;
}

.inline-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.small-right-1 h2 a {
  text-decoration: none;
  color: #fff;
}

.small-right-2 h5 a,
.small-right-2 h2 a {
  text-decoration: none;
  color: #fff;
}

.small-right-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.latest-news-ul li a {
  text-decoration: none;
  color: rgb(170, 170, 170);
}

.apps-news-ul li a {
  text-decoration: none;
  color: rgb(170, 170, 170);
}

.latest-ul li a {
  text-decoration: none;
  color: #555;
}

.menu-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75em;
}

.latest-news-title a:hover,
.latest-deals-title a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.latest-news-h4 a:hover,
.latest-deals-h4 a:hover {
  text-decoration: none;
  color: rgb(255, 68, 34);
}

.latest-funds-left a:hover,
.latest-funds-right a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.latest-deals-right {
  text-decoration: none;
  color: rgb(255, 68, 34);
  display: inline-block;
  padding-top: 2.5%;
  padding-right: 2.4%;
  font-size: 1em;
}

.latest-deals-left a:hover,
.latest-deals-right:hover {
  color: rgb(0, 0, 0);
}

.apps-news-header a:hover {
  text-decoration: underline;
}

.latest-h4 a:hover {
  text-decoration: underline;
}

.apps-latest-title a:hover {
  color: rgb(0, 0, 0);
}

.left-section li a:hover,
.right-section li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul.left-section.items-left {
  margin-left: -1.55%;
}

ul.right-section.items-right {
  margin-right: 1.55%;
}

/* Second header styling */
.nav-bar {
  max-height: 4em;
  align-content: center;
  font-size: 0.8125em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: #808080;
  position: sticky;
}

.nav-bar-ul li,
.search-bar-ul li {
  display: inline-block;
  padding-right: 0.625em;
}

.nav-bar-ul {
  padding-left: 1.55%;
}

.nav-bar-ul li {
  padding-top: 2.75%;
}

.search-bar-ul {
  display: inline-block;
  border-left: 1px solid #f1eeee;
  height: 4em;
  padding-left: 2%;
  width: 33%;
}

.join-btn {
  text-transform: uppercase;
  background-color: #0cc;
  color: #fff;
  border: none;
  padding: 12% 0.75em;
  border-radius: 3px;
  font-size: 0.8125em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #90c;
  color: #fff;
}

.latest-funds-1 img,
.latest-funds-2 img,
.latest-funds-3 img,
.latest-funds-4 img {
  position: absolute;
  top: 7%;
  left: 1%;
  z-index: 1;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 0.688em;
}

.search-bar-ul li .tnw-2020 {
  display: inline-block;
  width: 125px;
  vertical-align: middle;
}

.tnw-img,
i.fas.fa-bars {
  display: none;
}

.nav-bar-ul li a:hover {
  text-decoration: none;
  color: #000;
}

.search-bar-txt {
  font-size: 85%;
  position: relative;
  top: 0.125em;
  text-align: center;
  color: rgb(85, 85, 85);
  font-weight: 500;
  font-family: Shentox, sans-serif;
  margin-right: 0.25em;
}

.search-bar-ul li a:hover {
  text-decoration: none;
  color: #252121;
}

.days {
  color: rgb(255, 68, 34);
  cursor: pointer;
  font-size: 92%;
  line-height: 1.7em;
  position: relative;
  top: 0.125em;
}

.search-icon {
  margin-right: 3.5%;
}

/* third section header styling */
.fixed-header {
  background-color: #ff0;
  padding: 0.5% 1.55%;
  font-size: 0.8125em;
  font-weight: 500;
  position: sticky;
  cursor: pointer;
}

/* Styling for the first section after the header */
.first-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 31.25em;
  padding: 0.25% 0.5%;
}

.large-left {
  background:
    linear-gradient(180deg, rgba(255, 68, 34, 0.7), rgba(0, 0, 0, 0.96)),
    url(./images/Copy-of-...-10-796x417.png) 50% 100% no-repeat;
  background-color: #000;
  grid-column: 1/3;
  grid-row: 1/3;
  background-size: cover;
  z-index: 1;
}

.tnw-logo {
  max-width: 50%;
  margin-left: 2.5%;
  margin-top: 3%;
  line-height: 1;
}

.gear {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.04em;
  font: inherit;
  line-height: 1.3125em;
  margin-left: 2%;
  padding-top: 3.8em;
}

.first-section-txt {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1em;
  padding-left: 2%;
  margin-top: -0.35em;
}

.inline-list {
  margin-top: -2.7em;
  display: flex;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 2%;
  font-size: 0.75em;
  line-height: 1em;
}

.inline-list li {
  flex-flow: row wrap;
  padding-right: 1%;
}

.inline-list li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
}

#date {
  color: #fff;
  float: right;
  padding-right: 2%;
}

.small-right-1 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: linear-gradient(180deg, rgba(153, 149, 149, 0.53), rgba(0, 0, 0, 0.9)), url(./images/TNW-Conference-PanelImg.jpg) 50% 100% no-repeat;
  background-size: cover;
  z-index: 1;
  display: grid;
  margin-left: 2%;
}

.small-right-1 h2 {
  font-size: 1.75em;
  font-weight: 700;
  align-self: center;
  justify-self: center;
  margin-bottom: -3.2em;
  line-height: 1em;
  padding-left: 4%;
}

.small-right-2 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: linear-gradient(180deg, rgba(153, 149, 149, 0.53), rgba(0, 0, 0, 0.9)), url(./images/054_renault_morphoz-1-796x447.jpg) 50% 100% no-repeat;
  background-size: cover;
  z-index: 1;
  margin-left: 2%;
  margin-top: 2%;
}

.small-right-2 h5 {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 0.04em;
  font: inherit;
  margin-left: 3%;
  padding-top: 3.125em;
  padding-bottom: 0.125em;
}

.small-right-2 h2 {
  align-self: center;
  justify-self: center;
  margin-top: -1em;
  line-height: 1em;
  padding-left: 4%;
  padding-top: 0.219em;
  font-size: 1.75em;
}

.small-right-list {
  margin-top: -0.75em;
  display: flex;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 3%;
  font-size: 0.75em;
  line-height: 1em;
}

.small-right-list li {
  flex-flow: row wrap;
  padding-right: 1.5%;
}

.small-right-list li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
}

/* Styling for the latest news section */
.latest-news,
.latest-deals {
  padding: 5% 5%;
}

[class$="-title"] a::after {
  content: "";
  background: url(images/arrow.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 0.25em;
}

[class$="-title"] a:hover::after {
  background: url(images/arrow-hover.svg);
  background-repeat: no-repeat;
}

.latest-deals-header {
  display: flex;
  justify-content: space-between;
}

.pics-latest-news,
.pics-latest-deals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 1.5%;
}

.latest-news-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/quantum_generic-516x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/google-796x417-515x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/05/Messenger-Flowers-516x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-4 {
  grid-column: 4/5;
  grid-row: 1/2;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-design2-516x270.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-5 {
  grid-column: 1/2;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/WhatsApp-Dark-Mode-515x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-6 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/Social-media-platforms-hed-Credit-Rahul-Chakraborty--513x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-7 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/person-731165_1920-480x270.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-8 {
  grid-column: 4/5;
  grid-row: 2/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-5-516x270.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-right: 8%;
}

.latest-news-h4 {
  margin-top: 70%;
  font-weight: 700;
  line-height: 125%;
}

.latest-news-ul,
.latest-deals-ul {
  list-style: none;
  display: flex;
  color: rgb(170, 170, 170);
  font-size: 0.813em;
  line-height: 125%;
  padding-left: 0;
  margin-top: -5.5%;
}

.latest-news-ul li {
  padding-right: 4%;
}

.latest-news-ul li a:hover {
  text-decoration: none;
  color: rgb(7, 7, 7);
}

/* Styling for the latest funds rounds section */
.latest-funds {
  padding: 5% 5%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.latest-funds-header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.latest-funds-right {
  width: 35%;
  list-style: none;
  display: inline-block;
}

.latest-funds-right li {
  display: inline-block;
  padding-right: 2%;
  padding-left: 1%;
}

.apps-news-ul li {
  padding-right: 4%;
  font-size: 0.8125em;
}

.latest-ul li {
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(197, 192, 192);
}

.social-links li {
  padding-right: 1em;
}

.menu-links li {
  padding-right: 0.5em;
  list-style: none;
}

.latest-funds-right li:not(:last-child) {
  border-right: 1px solid rgb(255, 68, 34);
}

.pics-latest-funds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 15.625em;
  margin-top: -1%;
}

.latest-funds-1 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 8%;
}

.latest-funds-2 {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-right: 8%;
}

.latest-funds-3 {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-right: 8%;
}

.latest-funds-4 {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
  margin-right: 8%;
}

.latest-funds-1 .first-div,
.latest-funds-2 .first-div-1,
.latest-funds-3 .first-div-2,
.latest-funds-4 .first-div-3 {
  background-color: #f42;
  font-size: 100%;
  padding-top: 3%;
  padding-left: 33%;
  padding-bottom: 3%;
}

.latest-funds-1 .second-div,
.latest-funds-2 .second-div-1,
.latest-funds-3 .second-div-2,
.latest-funds-4 .second-div-3 {
  margin-top: -10%;
  background: rgba(255, 68, 34, 0.08);
  color: #000;
  padding-left: 33%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.third-div,
.third-div-1,
.third-div-2,
.third-div-3 {
  margin-top: -8%;
  text-transform: uppercase;
  color: rgb(170, 170, 170);
}

.investments {
  padding-top: 8%;
  background: rgba(255, 68, 34, 0.03);
}

.icons {
  margin-left: 5%;
}

.tag,
.briefcase {
  display: block;
}

.tag {
  padding-bottom: 3.5%;
}

.text-icons {
  margin-left: 3%;
  font-size: 0.813em;
  line-height: 137.5%;
  color: #555;
  text-decoration: none;
}

.text-icons:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.latest-funds-hr {
  margin-top: 8%;
  color: rgba(255, 68, 34, 0.03);
  border: 1px solid rgba(255, 68, 34, 0.09);
}

.latest-funds-last {
  font-size: 0.75em;
  padding-top: 5%;
  padding-bottom: 20%;
  padding-left: 5%;
  text-align: justify;
  font-weight: 400;
}

.latest-funds-last-span {
  color: rgb(170, 170, 170);
}

/* Styling for the apps latest section */

.apps-latest {
  padding: 5% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.apps-latest-news {
  grid-column: 1/2;
  grid-row: 1/2;
}

.gear-latest-news {
  grid-column: 2/3;
  grid-row: 1/2;
}

.tech-latest-news {
  grid-column: 3/4;
  grid-row: 1/2;
}

.creative-latest-news {
  grid-column: 1/2;
  grid-row: 2/3;
}

.podium-latest-news {
  grid-column: 2/3;
  grid-row: 2/3;
}

.insights-latest-news {
  grid-column: 3/4;
  grid-row: 2/3;
}

.launch-latest-news {
  grid-column: 1/2;
  grid-row: 3/4;
}

.distract-latest-news {
  grid-column: 2/3;
  grid-row: 3/4;
}

.apps,
.gear-tech,
.tech,
.creative,
.podium,
.insights,
.launch,
.distract {
  margin-right: 8%;
  max-height: 18.75em;
  height: 18.75em;
}

.apps {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://thenextweb.com/wp-content/blogs.dir/1/files/2020/03/tndr2-368x276.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gear-tech {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://thenextweb.com/wp-content/blogs.dir/1/files/2020/03/Snag_6162d8-368x276.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tech {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://thenextweb.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-...-368x276.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.creative {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/Amazon-Dating-Featured-368x276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.podium {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/code-1076536_1920-368x276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.insights {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/coronavirus-malware-infect-system-368x276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.launch {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/bubble-car-isetta-bmw-microlino-microletta-ev-car-new-announced-368x276.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.distract {
  background:
    linear-gradient(180deg, rgba(248, 247, 247, 0), rgba(0, 0, 0, 0.98)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/OnlyFans-Featured-368x276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.apps-most-popular {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.313em;
  padding-left: 4%;
  padding-top: 45%;
}

.apps-news-header {
  padding-left: 4%;
  margin-top: -4%;
  font-size: 125%;
  line-height: 125%;
  font-weight: 700;
}

.apps-news-ul {
  list-style: none;
  display: flex;
  color: rgb(170, 170, 170);
  margin-top: -2%;
  padding-left: 4%;
}

.apps-news-ul li a:hover {
  text-decoration: none;
  color: rgb(252, 248, 248);
}

/* Styling for latest section */

.latest-news-first,
.latest-news-second,
.latest-news-third {
  padding-right: 8%;
  margin-top: 2%;
}

.latest-news-header {
  background-color: rgba(255, 68, 34, 0.09);
  color: rgb(255, 68, 34);
  padding-left: 2%;
  padding-right: 11%;
  font-size: 0.813em;
  margin-bottom: 5%;
  height: 7.5em;
  width: 100%;
  max-height: 96px;
}

.latest-h5 {
  text-transform: uppercase;
  margin-top: 2%;
}

.latest-h4 {
  margin-top: -6%;
  padding-bottom: 1%;
}

.latest-ul {
  margin-left: -5.5%;
  margin-top: -5%;
  font-size: 0.813em;
  color: rgb(255, 68, 34);
}

.latest-ul li a:hover {
  color: #000;
}

.latest-container-header {
  display: flex;
  justify-content: space-between;
}

.latest-img {
  background: url(https://thenextweb.com/wp-content/blogs.dir/1/files/2020/03/Twitter-Fleets-Featured.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-1 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Sonos-Move-1-of-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-2 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/1-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-3 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/GodfallTeaser04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-4 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/american-voting.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-5 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/woman-4509821_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-6 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/07/robots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

.latest-img-7 {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/Microsoft-Edge-Surf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 0 0 96px;
  height: 96px;
}

/* Styling for the latest deals */

.latest-deals-1 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  background: url(https://cdnp3.stackassets.com/ca8ac4cd8e0107c4584d451a1fb0ac0e5ebe6151/store/be0f2ee1b78c4393e1053fa6de7e735a05a2c49710da62971b1193c1a649/sale_26370_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
}

.latest-deals-2 {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  background: url(https://cdnp2.stackassets.com/fc8076524b9a819dc598d65691c2299a5db60352/store/ad46d05f16cdde540433ef7b885a4ea4ea9b8cf95d7560be9ac3290c10fe/sale_26449_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
}

.latest-deals-3 {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  background: url(https://cdnp2.stackassets.com/3c13f10f74c095314df532568d210203f3df5b63/store/26e4fdf4bbbb46a77c2163f35ddbfa2a6034e4e6a4cefd42aceebb6375a0/sale_26324_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
}

.latest-deals-4 {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
  background: url(https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
}

.latest-deals-5 {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
  background: url(https://cdnp0.stackassets.com/0799bf00352de2d2111fa7580a4aeb4d5e36829c/store/831574f40ca85b498631ae2881f81d02cd9eedd411afd5c0c8f689969ad6/sale_19040_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
  top: -20%;
}

.latest-deals-6 {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  background: url(https://cdnp1.stackassets.com/08d7e2431ae6bfd1f13f6fc4c0d6970a7d603912/store/22fea2154e1b93d8ec2d0c6622d4c848e68ec3df1d5d27a63a1e283daaa3/sale_26374_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
  top: -20%;
}

.latest-deals-7 {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  background: url(https://cdnp1.stackassets.com/c80121459c194c189c69893dd70ede917733b848/store/ee611f43e23784d3d04caca02f49f80efac26b80672f17d376d7ef461c6c/sale_26368_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
  top: -20%;
}

.latest-deals-8 {
  position: relative;
  grid-column: 4/5;
  grid-row: 2/3;
  background: url(https://cdnp0.stackassets.com/a875072fa31f35279ce85438b376249c54eca996/store/8534f1826bec31d741297d74ee8a30edc0f492f8f74cd08aa4ed0103d42a/sale_14523_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-right: 8%;
  top: -20%;
}

.background-discount {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 5em;
  overflow: hidden;
}

.discount {
  text-transform: uppercase;
  background-size: contain;
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  top: 1.625em;
  left: 8.438em;
  transform: rotate(45deg);
  width: 100%;
  font-size: 0.875em;
  font-size: 700;
  z-index: 2;
}

.deal {
  position: relative;
  top: -18.5%;
  color: rgb(85, 85, 85);
}

.deal .old-price {
  margin-right: 1.5%;
  text-decoration: line-through;
  font-size: 0.813em;
  color: rgb(170, 170, 170);
}

.latest-deals-h4 {
  position: relative;
  top: 40%;
  padding-bottom: 70%;
}

header[class$="-title"] h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.925em;
}

/* Styling for the footer section */
footer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.footer-copyright {
  background-color: #000;
  color: #aaa;
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.813em;
}

.footer-links {
  background: #131313;
  height: 10.625em;
  margin-top: 9%;
  width: 100%;
  overflow: hidden;
}

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding-top: 4%;
  height: 100%;
  width: 100%;
}

.menu-links {
  display: flex;
  flex-flow: row wrap;
  margin-top: -6em;
  justify-content: center;
  align-content: center;
  padding-top: 0.6%;
}

.footer-copyright-tnwlogo,
.footer-copyright-stackpath {
  display: inline-block;
  height: 0.563em;
  margin-right: 1px;
}

.fa-bar {
  display: none;
}

.fa-heart {
  color: red;
}

/* Media Queries */

@media only screen and (max-width: 1379px) {
  .discount {
    left: 7.7em;
  }
}

@media only screen and (max-width: 1296px) {
  /* Second header styling - nav bar and search bar section */

  .nav-bar {
    font-size: 0.7em;
  }

  .nav-bar-ul li,
  .search-bar-ul li {
    padding-right: 0.5em;
  }

  .nav-bar-ul {
    padding-left: 1%;
  }

  .search-bar-ul {
    padding-left: 2%;
    width: 35%;
  }

  .join-btn {
    padding: 6% 0.75em;
    border-radius: 3px;
    font-size: 0.7em;
  }

  .search-bar-txt {
    font-size: 70%;
    margin-right: 0.2em;
  }

  .days {
    font-size: 82%;
  }

  .search-icon {
    margin-right: 2.5%;
  }
}

@media only screen and (max-width: 1215px) {
  .discount {
    left: 6.5em;
  }
}

@media only screen and (max-width: 1050px) {
  .discount {
    left: 5.5em;
  }
}

@media only screen and (max-width: 1163px) {
  .latest-news-1,
  .latest-news-2,
  .latest-news-3,
  .latest-news-4,
  .latest-news-5,
  .latest-news-6,
  .latest-news-7,
  .latest-news-8 {
    background-size: 100% 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .latest-funds-header {
    display: block;
  }

  .latest-funds-right {
    width: 100%;
    margin-left: -5%;
  }

  .latest-funds-4 {
    display: none;
  }

  .pics-latest-funds {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .deal {
    top: -15.5%;
  }
}

@media only screen and (max-width: 1023px) {
  .search-bar-ul li:not(:first-child):not(:last-child) {
    display: none;
  }

  .search-bar-ul {
    width: 7%;
    padding-left: 2%;
    padding-top: 2%;
  }

  .nav-bar-ul {
    padding-left: 12%;
  }

  .tnw-img {
    display: block;
    position: absolute;
    left: 0;
    top: -0.25em;
    height: 48px;
    width: 12%;
    z-index: 999;
  }

  .pics-latest-news,
  .pics-latest-deals {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 46.875em;
    padding-top: 1.5%;
    margin-bottom: 8%;
  }

  .latest-news-4,
  .latest-deals-4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .latest-news-5,
  .latest-deals-5 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .latest-news-6,
  .latest-deals-6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .latest-news-7,
  .latest-deals-7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .latest-news-8,
  .latest-deals-8 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .apps-latest {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .tech-latest-news {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .creative-latest-news {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .podium-latest-news {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .insights-latest-news {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .launch-latest-news {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .distract-latest-news {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .discount {
    left: 7.438em;
    top: 1.5em;
  }

  .latest-news-h4 {
    margin-top: 71%;
  }

  .latest-funds {
    padding: 8% 5%;
  }

  .latest-deals-4 {
    top: -20%;
  }
}

@media only screen and (max-width: 1000px) {
  .small-right-1 h2 {
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 980px) {
  .tnw-img {
    width: 8%;
  }
}

@media only screen and (max-width: 823px) {
  .search-bar-ul {
    width: 8%;
  }

  .search-bar-ul li:not(:first-child):not(:last-child) {
    display: none;
  }

  .search-icon {
    position: relative;
    top: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    position: absolute;
    top: 15%;
    left: 90%;
  }

  .search-icon {
    position: absolute;
    top: 44%;
    left: 80%;
    margin-right: 8%;
  }

  .gear {
    padding-top: 1.8em;
  }

  .small-right-1 h2 {
    padding-bottom: 49%;
  }

  .discount {
    left: 5.438em;
  }

  .latest-funds-1 img,
  .latest-funds-2 img,
  .latest-funds-3 img,
  .latest-funds-4 img {
    left: -3%;
    width: 49px;
    min-width: 49px;
    max-width: 49px;
    height: 49px;
    min-height: 49px;
    max-height: 49px;
    top: 4%;
  }

  .latest-funds-1 .first-div,
  .latest-funds-2 .first-div-1,
  .latest-funds-3 .first-div-2,
  .latest-funds-4 .first-div-3 {
    padding-left: 40%;
    font-size: 0.813em;
  }

  .latest-funds-1 .second-div,
  .latest-funds-2 .second-div-1,
  .latest-funds-3 .second-div-2,
  .latest-funds-4 .second-div-3 {
    padding-left: 40%;
    font-size: 0.813em;
  }

  .latest-funds-right {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .first-section {
    display: inline-block;
    margin-top: -4.5%;
  }

  .small-right-2 {
    padding-top: 2.5%;
  }

  .first-section-txt {
    font-size: 1.75em;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    line-height: 1em;
    padding-left: 2%;
    margin-top: -2%;
  }

  .inline-list {
    padding-top: 4%;
    padding-bottom: 2%;
  }

  .small-right-list {
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
  }

  .tnw-logo,
  #date,
  .small-right-2 h5 {
    display: none;
  }

  .wrap span {
    display: block;
    text-align: center;
  }

  .latest-news {
    padding: 0 1.5%;
  }

  .latest-deals {
    padding: 5% 1.5%;
  }

  .latest-funds-1 img,
  .latest-funds-2 img,
  .latest-funds-3 img,
  .latest-funds-4 img {
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 1;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: 0.688em;
  }

  .small-right-1,
  .small-right-2 {
    margin-left: 0;
  }

  .pics-latest-deals {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 5.313em);
  }

  .discount,
  .background-discount {
    display: none;
  }

  .latest-deals-1 {
    grid-column: span 1;
    grid-row: 1/2;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-2 {
    grid-column: span 1;
    grid-row: 2/3;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-3 {
    grid-column: span 1;
    grid-row: 3/4;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-4 {
    grid-column: span 1;
    grid-row: 4/5;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-5 {
    grid-column: span 1;
    grid-row: 5/6;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-6 {
    grid-column: span 1;
    grid-row: 6/7;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-7 {
    grid-column: span 1;
    grid-row: 7/8;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-8 {
    grid-column: span 1;
    grid-row: 8/9;
    background-size: 25%;
    display: inline-block;
  }

  .latest-deals-1,
  .latest-deals-2,
  .latest-deals-3,
  .latest-deals-4,
  .latest-deals-5,
  .latest-deals-6,
  .latest-deals-7,
  .latest-deals-8 {
    position: relative;
    width: 100%;
  }

  .latest-deals-h4 {
    margin-top: -5%;
  }

  .latest-deals-h4,
  .deal {
    position: relative;
    float: right;
    width: 88%;
    height: 100%;
  }

  .deal {
    position: absolute;
    left: 12%;
    top: -24%;
    padding-top: 3%;
  }

  .latest-deals-h4::after,
  .deal::after {
    clear: both;
    display: block;
  }

  .pics-latest-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 5.313em);
    vertical-align: center;
    margin-bottom: 0;
  }

  .latest-news-1 {
    grid-column: span 1;
    grid-row: 1/2;
    background-size: 25%;
  }

  .latest-news-2 {
    grid-column: span 1;
    grid-row: 2/3;
    background-size: 25%;
  }

  .latest-news-3 {
    grid-column: span 1;
    grid-row: 3/4;
    background-size: 25%;
  }

  .latest-news-4 {
    grid-column: span 1;
    grid-row: 4/5;
    background-size: 25%;
  }

  .latest-news-5 {
    grid-column: span 1;
    grid-row: 5/6;
    background-size: 25%;
  }

  .latest-news-6 {
    grid-column: span 1;
    grid-row: 6/7;
    background-size: 25%;
  }

  .latest-news-7 {
    grid-column: span 1;
    grid-row: 7/8;
    background-size: 25%;
  }

  .latest-news-8 {
    grid-column: span 1;
    grid-row: 8/9;
    background-size: 25%;
  }

  .latest-news-1,
  .latest-news-2,
  .latest-news-3,
  .latest-news-4,
  .latest-news-5,
  .latest-news-6,
  .latest-news-7,
  .latest-news-8 {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .latest-news-h4 {
    margin-top: 0%;
  }

  .latest-news-h4,
  .latest-news-ul {
    position: relative;
    float: right;
    width: 86%;
    overflow: hidden;
  }

  .latest-news-h4::after,
  .latest-news-ul::after {
    clear: both;
    display: block;
  }

  .apps-latest {
    padding: 5% 1.5%;
  }

  .latest-ul {
    margin-left: -3.5%;
  }

  article[class^="latest-news-"],
  div[class^="latest-deals-"],
  article[class^="latest-deals-"] {
    background-size: 11% 88.2%;
  }

  div[class^="latest-deals-"],
  article[class^="latest-deals-"] {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .latest-deals-4,
  .latest-deals-5,
  .latest-deals-6,
  .latest-deals-7,
  .latest-deals-8 {
    top: 0;
  }

  ul.latest-news-ul {
    padding-top: 3%;
  }

  .latest-funds {
    padding: 0 1.5%;
  }

  .pics-latest-funds {
    display: inline-block;
  }

  .latest-funds-1,
  .latest-funds-2,
  .latest-funds-3,
  .latest-funds-4 {
    width: 43.125em;
    max-width: 43.125em;
  }

  .latest-funds-1 .first-div,
  .latest-funds-2 .first-div-1,
  .latest-funds-3 .first-div-2,
  .latest-funds-4 .first-div-3 {
    padding-left: 15%;
  }

  .latest-funds-1 .second-div,
  .latest-funds-2 .second-div-1,
  .latest-funds-3 .second-div-2,
  .latest-funds-4 .second-div-3 {
    padding-left: 15%;
    margin-top: -2.3%;
    line-height: 0.625em;
  }

  .latest-apps {
    grid-template-rows: repeat(8, 1fr);
  }

  .apps-most-popular {
    padding-top: 30%;
  }

  .latest-h5 {
    margin-bottom: 8%;
  }

  .apps-latest-news {
    grid-column: span 2;
    grid-row: 1/2;
  }

  .gear-latest-news {
    grid-column: span 2;
    grid-row: 2/3;
  }

  .tech-latest-news {
    grid-column: span 2;
    grid-row: 3/4;
  }

  .creative-latest-news {
    grid-column: span 2;
    grid-row: 4/5;
  }

  .podium-latest-news {
    grid-column: span 2;
    grid-row: 5/6;
  }

  .insights-latest-news {
    grid-row: 6/7;
    grid-column: span 2;
  }

  .launch-latest-news {
    grid-column: span 2;
    grid-row: 7/8;
  }

  .distract-latest-news {
    grid-column: span 2;
    grid-row: 8/9;
  }

  .apps,
  .gear-tech,
  .tech,
  .creative,
  .podium,
  .insights,
  .launch,
  .distract {
    margin-right: 1.5%;
  }

  .latest-news-first,
  .latest-news-second,
  .latest-news-third {
    padding-right: 1.5%;
  }

  .footer-links {
    margin-top: 0;
  }

  .nav-bar-ul li:not(:first-child) {
    display: none;
  }

  .nav-bar {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .nav-bar-ul {
    width: 40%;
    height: 100%;
    overflow: hidden;
  }

  .search-bar-ul {
    padding-left: 2%;
    margin-top: 2em;
    height: 4em;
    width: 30%;
    overflow: hidden;
    float: right;
    padding-right: 10%;
  }

  .nav-bar::after {
    clear: both;
  }

  .search-icon {
    margin-right: 16%;
    margin-left: 6%;
  }

  i.fas.fa-bars {
    display: inline-block;
    position: relative;
    top: 1.2em;
    left: 1.875em;
  }

  .header-1 {
    display: none;
  }

  .small-right-1 h2 {
    padding-bottom: 15%;
    padding-left: 2%;
  }

  .small-right-2 h5 {
    padding-top: 0.125em;
    margin-left: 2%;
  }

  .small-right-2 h2 {
    padding-left: 2%;
    padding-top: 4%;
  }
}

@media only screen and (max-width: 629px) {
  .small-right-1 h2 {
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .latest-deals-h4 {
    top: 31%;
  }

  .small-right-1 h2 {
    padding-bottom: 25%;
  }

  .first-section {
    margin-top: -5.3%;
  }

  article[class^="latest-news-"],
  div[class^="latest-deals-"],
  article[class^="latest-deals-"] {
    background-size: 16% 88.2%;
  }

  .latest-news-h4,
  .latest-news-ul {
    font-size: 80%;
    width: 82%;
  }
}

@media only screen and (max-width: 450px) {
  .first-section {
    margin-top: -5.75%;
    font-size: 85%;
  }

  .footer-links {
    margin-top: 44%;
  }
}

@media only screen and (max-width: 425px) {
  .menu-links {
    top: 6em;
  }
}

@media only screen and (max-width: 418px) {
  .deal {
    padding-top: 5%;
  }

  .latest-funds-header {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 413px) {
  .latest-news-h4,
  .latest-news-ul {
    padding-top: 0%;
  }

  .latest-deals-h4 {
    top: 20%;
  }

  .deal {
    padding-top: 7%;
  }
}

@media only screen and (max-width: 409px) {
  .first-section {
    margin-top: -6.75%;
  }

  .footer-links {
    height: 15.625em;
  }

  .menu-links {
    position: relative;
    top: 5.5em;
  }

  .small-right-1 h2 {
    padding-bottom: 30%;
  }

  .social-links {
    height: 61%;
  }
}

@media only screen and (max-width: 363px) {
  .first-section {
    margin-top: -7.75%;
  }
}

@media only screen and (max-width: 350px) {
  .fixed-header {
    padding: 0;
    font-size: 12px;
  }
}
